:root {
    --background-color: rgb(21, 27, 39);

    --foreground-color: rgb(36, 37, 44);
    --border-color: rgb(71, 71, 71);

    --header-text-color: white;
    --text-color: #bebebe;

    --color1: rgb(52, 99, 255);
    --color2: rgb(23, 45, 116);

    --gradient-chroma: linear-gradient(45deg, rgb(114, 231, 255) 35%, rgb(225, 74, 255) 65%);
}