:root {
    --background-color: rgb(18, 21, 27);

    --foreground-color: rgb(21, 28, 43);
    --border-color: rgb(36, 43, 61);

    --header-text-color: white;
    --text-color: #bebebe;

    --link-color: var(--color1);
    --link-hover-color: var(--text-color);
    --link-visited-color: rgb(156, 89, 169);

    --color1: rgb(52, 99, 255);
    --color2: rgb(23, 45, 116);

    --gradient-chroma: linear-gradient(45deg, rgb(114, 231, 255) 35%, rgb(225, 74, 255) 65%);
}