/* Body and Variables */
:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --spacing1: 4px;
    --spacing2: 8px;
    --spacing3: 12px;
    --spacing4: 16px;
    
    --radius1: 8px;
    --radius2: 12px;

    --border-size: 2px;
    --button-inset-size: 3px;

    --banner-height: 16em;
    --nav-height: 3em;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
}

/* Content */
content {
    display: block;
    /* max-width: 35em; */
    margin: auto;
}

.main-content {
    background-color: var(--background-color);
    padding: var(--spacing4) 1em;
}

#page {
    background-color: var(--background-color);
}

/* Content Margins */
p, h1, h2, h3, h4, h5, h6 {
    margin: var(--spacing2) 0;
}

/* Navigation */
#nav-holder {
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    align-items: center;

    height: var(--nav-height);
    border-bottom: var(--border-size) solid var(--border-color);
    background-color: var(--foreground-color);
}

nav #title{
    padding: 0;
    margin: 0;
}

/* Footer */
footer {
    text-align: center;
    padding: var(--spacing2);
    background-color: var(--foreground-color);
    border-top: var(--border-size) solid var(--border-color);
}

/* Banner */
#banner {
    position: relative;
    height: var(--banner-height);
}

#banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--foreground-color), transparent);
    pointer-events: none;
}

#banner img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    min-height: var(--banner-height);

    left: 50%;
    transform: translateX(-50%);

    position: fixed;
    z-index: -1;
}

/* Titles and Headings */
#title {
    padding-bottom: var(--spacing2);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: var(--gradient-chroma);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header-text-color);
}

/* Display Types */
.inline {
    display: inline-block;
}

.block {
    display: block;
    width: 100%;
}

.float {
    display: block;
    box-sizing: border-box;
    width: 20em;
    max-width: 100%;
    margin: auto;
}

.clear {
    clear: both;
}

/* Lists */
ul {
    list-style: none;
    padding: 0;
    margin: var(--spacing2) 0;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing2);
}

/* Gallery Image */
.gallery {
    padding: 0;
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--radius2);
}

/* Articles */
article {
    clear: both;
    display: block;

    margin: var(--spacing4) 0;
    padding: var(--spacing2) var(--spacing4);

    border: var(--border-size) solid var(--border-color);
    border-radius: var(--radius2);
    background-color: var(--foreground-color);
}

/* Links */
a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

a:visited {
    color: var(--link-visited-color);
}

/* Buttons */
button {
    display: block;
    padding: var(--spacing3) var(--spacing4);
    margin-bottom: calc(var(--spacing2) + var(--button-inset-size));

    background-color: var(--color1);
    color: var(--header-text-color);

    border: var(--border-size) solid var(--border-color);
    border-radius: var(--radius1);
    box-shadow: 0 var(--button-inset-size) 0 var(--border-color);

}

button:active {
    filter: brightness(0.5);
    box-shadow: none;
    transform: translateY(var(--button-inset-size));
}

button:hover {
    cursor: pointer;
}

button:hover:not(:active) {
    filter: brightness(0.8);
}

/* Alignment */
.center {
    text-align: center;
    margin: auto;
}

/* Other */
hr {
    border: none;
    border-top: var(--border-size) solid var(--border-color);
    margin-bottom: var(--spacing4);
}

/* Media Queries */
@media (max-width: 50em) {
    .float.stack:not(:first-child) {
        margin-top: var(--spacing4);
    }
}

@media (min-width: 50em) {

    /* Content */
    content {
        max-width: 70em;
    }

    .main-content {
        padding: 2em 4em;
    }

    /* Article Formatting */
    .float.right {
        float: right;
        margin-left: var(--spacing4);
    }
    
    .float.left {
        float: left;
        margin-right: var(--spacing4);
    }

    .float {
        margin: var(--spacing4) 0;
    }

    .float.right.stack {
        clear: right;
    }

    .float.left.stack {
        clear: left;
    }

    .float:not(:first-child) {
        margin-top: 0;
    }

    #title {
        text-align: left;
    }
}