/* Body and Variables */
:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --spacing1: 4px;
    --spacing2: 8px;
    --spacing3: 12px;
    --spacing4: 16px;
    
    --radius1: 8px;
    --radius2: 12px;

    --border-size: 1px;

    --banner-height: 16em;
    --nav-height: 3em;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
}

/* Content */
content {
    display: block;
    max-width: 35em;
    margin: auto;
}

#page-content {
    padding: 1em;
}

/* Navigation */
#nav-holder {
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    align-items: center;

    height: var(--nav-height);
    border-bottom: var(--border-size) solid var(--border-color);
    background-color: var(--foreground-color);
}

nav #title{
    padding: 0;
    margin: 0;
}

/* Banner */
#banner {
    position: relative;
    height: var(--banner-height);
}

#banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--foreground-color), transparent);
    pointer-events: none;
}


#banner img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}

/* Titles and Headings */
#title {
    padding-bottom: var(--spacing2);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: var(--gradient-chroma);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header-text-color);
}

/* Display Types */
.inline {
    display: inline-block;
}

.float {
    display: block;
    box-sizing: border-box;
    width: 256px;
    margin: auto;
}

.clear {
    clear: both;
}

/* Lists */
ul {
    list-style: none;
    padding: 0;
}

/* Gallery Image */
.gallery {
    padding: 0;
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--radius2);
}

/* Articles */
article {
    clear: both;
    display: block;

    padding: var(--spacing2) var(--spacing4);

    border: var(--border-size) solid var(--border-color);
    border-radius: var(--radius2);
    background-color: var(--foreground-color);
}

article > * {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

article:not(:first-child), .float:not(:first-child) { /* Space between consecutive articles */
    margin-top: var(--spacing4);
}

/* Buttons */
button {
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--radius1);
    padding: var(--spacing3) var(--spacing4);
    background-color: var(--color1);
    color: white;
}

button:hover {
    background-color: var(--color2);
    cursor: pointer;
}

/* Alignment */
.center {
    text-align: center;
    margin: auto;
}

/* Other */
hr {
    border: none;
    border-top: var(--border-size) solid var(--border-color);
    margin-bottom: var(--spacing4);
}

/* Media query for larger screens */
@media (min-width: 50em) {

    /* Content */
    content {
        max-width: 50em;
    }

    /* Article Formatting */
    .right {
        float: right;
        margin-left: var(--spacing4);
    }
    
    .left {
        float: left;
        margin-right: var(--spacing4);
    }

    .float {
        margin-bottom: var(--spacing4);
    }

    .float.right.stack {
        clear: right;
    }

    .float.left.stack {
        clear: left;
    }

    .float:not(:first-child) {
        margin-top: 0;
    }
}