/* Body and Variables */
:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --spacing1: 4px;
    --spacing2: 8px;
    --spacing3: 12px;
    --spacing4: 16px;
    
    --radius1: 8px;
    --radius2: 12px;

    --border-size: 1px;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 1em;
}

content {
    display: block;
    margin-bottom: var(--spacing4);
}

.container {
    max-width: 40em;
    margin: auto;
}

/* Titles and Headings */
#title {
    text-align: center;
    margin-bottom: 0;

    padding-bottom: var(--spacing2);
    border-bottom: solid var(--border-color) 1px;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: var(--gradient-chroma);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header-text-color);
}

/* Content */

/* Lists */
.sidebar-link-list li {
    list-style-type: none;
}

/* Articles */
article, .sidebar-chunk {
    padding: var(--spacing2) var(--spacing4);
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--radius1);
    background-color: var(--foreground-color);
}

/* Buttons */
button {
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--radius1);
    padding: var(--spacing3) var(--spacing4);
    background-color: var(--color1);
    color: white;
}

button:hover {
    background-color: var(--color2);
}

/* Dynamic Content */
content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing4);
}

.main-content {
    width: 100%;
}

.sidebar-chunk {
    width: 100%;
}

/* Media query for larger screens */
@media (min-width: 800px) {
    #title {
        margin-bottom: var(--spacing4);
    }

    /* Sidebars */
    .sidebar-chunk {
        width: 150px;
    }

    .sidebar-chunk.left {
        order: 1;
    }
    
    .sidebar-chunk.right {
        order: 3;
    }

    /* Container */
    content {
        flex-wrap: nowrap;
        gap: var(--spacing4);
        max-width: 50em;
    }

    .main-content {
        flex: 2;
        order: 2;
    }
}
